.project-card {
    display: flex;
    flex-direction: column;
    width: 340px;
}

.project-card:hover {
    transform: scale(1.06);
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

.card-image {
    width: 340px;
    height: 200px;
    background-position: center;
    background-color: rgb(80, 134, 180);
    border-radius: 8px;
}

.card-title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
}

.card-description {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    color: #555;
}

.card-link {
    font-size: 12px;
    margin-top: 8px;
    text-decoration: none;
    margin-top: 16px;
    background-color: #E8EDF5;
    border-radius: 16px;
    padding: 8px 16px;
    width: fit-content;
}

.project-card-link {
    text-decoration: none;
    color: inherit;
}

.project-card-link:hover {
    text-decoration: underline;
}

.blog-card {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.blog-card:hover {
    transform: scale(1.02);
    transition: transform 0.4s ease;
    /* box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3); */
    cursor: pointer;
}

.blog-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.blog-card-image {
    width: 320px;
    height: 160px;
    background-size: cover;
    background-position: center;
    background-color: antiquewhite;
    border-radius: 8px;
}

@media screen and (max-width: 600px){
    .blog-card {
        flex-direction: column;
    }
}

/* Skill card */
.skill-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    align-items: center;
    gap: 16px;
    width: 120px;
    justify-content: center;
}

.skill-card:hover {
    transform: scale(1.06);
    transition: transform 0.4s ease-in-out;
}

.skill-card-image {
    width: 80px;
    height: 80px;
    background-position: center;
}

@media screen and (max-width: 375px) {
    .skill-card {
        width: 110px;
    }
    .project-card {
        width: 315px;
    }
    .card-image {
        width: 315px
    }
}