.contact-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    flex: 1;
}

.contact-email-input {
    padding: 12px 8px;
    border-radius: 8px;
    border: none;
    max-width: 500px;
    outline: none;
    font-size: 12px;
}

.contact-message-input {
    padding: 8px;
    border-radius: 8px;
    min-height: 64px;
    border: none;
    max-width: 500px;
    outline: none;
    font-size: 12px;
}

.contact-submit-button {
    padding: 8px;
    border-radius: 24px;
    height: 40px;
    border: none;
    background-color: #D6E5F2;
    width: 100px;
    margin-top: 12px;
    cursor: pointer;
}

.contact-submit-button:hover {
    transform: scale(1.06);
    transition: transform 0.2s ease-in-out;
    background-color: #b3d5f3;
}

.contact-form-parent {
    display: flex;
    background-image: url('../../assets/ContactBg.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    padding: 0 16px 32px 32px;
    margin-top: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.contact-image {
    width: 400px;
    height: 400px;
    border-radius: 8px;
}

.contact-label {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 8px;
}

@media screen and (max-width: 600px){
    .contact-form-parent {
        flex-direction: column;
    }
}